<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productionAppSecret</key>
	<string></string>
	<key>productionAppKey</key>
	<string></string>
	<key>developmentAppSecret</key>
	<string></string>
	<key>developmentAppKey</key>
	<string></string>
	<key>detectProvisioningMode</key>
	<true/>
</dict>
</plist>
